{% extends 'admin.html.twig' %}

{% block middle %}
    <header id="page-header">
        <h1>Clientes</h1>
    </header>
    <div id="content" class="padding-20">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Edición de cliente</strong>
            </div>
            <div class="panel-body">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn btn-md btn-success" type="submit" value="Guardar" />
                {{ form_end(edit_form) }}

            </div><!-- end panel-body -->
            <div class="panel-footer">
                <div class="btn-group" role="group">
                    {{ form_start(delete_form) }}
                    <a class="btn btn-sm btn-warning" href="{{ path('cliente_index') }}">Volver</a>
                    <a class="btn btn-sm btn-primary" href="{{ path('cliente_new') }}">Crear Cliente</a>
                    <input class="btn btn-sm btn-danger" class="btn btn-sm btn-danger" type="submit" value="Eliminar">
                    {{ form_end(delete_form) }}
                </div>
            </div><!-- end panel-footer -->

        </div><!-- end panel -->
    </div><!-- end content -->
{% endblock %}
